.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
}

.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transition: 500ms ease;
    transform: translateX(-100%)
}

.side-drawer.side-drawer_show {
    opacity: 1;
    transform: translateX(0)
}

.side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.side-drawer li {
    margin: 5px 0;
}

.side-drawer a {
    font-size: 20px;
    color: #521751;
    text-decoration: none;
}

.side-drawer a:hover,
.side-drawer a:active {
    color: #fa923f;
}